node_modules
dist
dist-ssr
*.local
.DS_Store

# Lint caches
.eslintcache
.stylelintcache

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Env
.env.local
.env.*.local
